.plait-board-container {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.plait-board-container foreignObject {
  outline: none;
}
.plait-board-container.firefox {
  -webkit-user-select: none;
  user-select: none;
}
.plait-board-container .viewport-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.plait-board-container.disabled-scroll .viewport-container {
  overflow: hidden;
}
.plait-board-container svg {
  transform: scale(1);
}
.plait-board-container .plait-text-container {
  position: initial !important;
}
.plait-board-container .text foreignObject {
  outline: none;
}
.plait-board-container .text .slate-editable-container {
  outline: none;
}
.plait-board-container .plait-toolbar {
  position: absolute;
  display: flex;
  height: 30px;
  z-index: 100;
}
.plait-board-container.element-moving
  .element-active-host
  > g:not(.active-with-moving) {
  display: none;
}
.plait-board-container.element-rotating .element-active-host g.resize-handle,
.plait-board-container.element-rotating
  .element-active-host
  g[class^="line-auto-complete-"] {
  display: none;
}
.plait-board-container.pointer-selection {
  cursor: default;
}
.plait-board-container.ns-resize {
  cursor: ns-resize;
}
.plait-board-container.ew-resize {
  cursor: ew-resize;
}
.plait-board-container.nwse-resize {
  cursor: nwse-resize;
}
.plait-board-container.nesw-resize {
  cursor: nesw-resize;
}
.plait-board-container.crosshair {
  cursor: crosshair;
}
.plait-board-container foreignObject[class^="foreign-object-"] {
  -webkit-user-select: none;
  user-select: none;
}
.plait-board-container .board-active-svg {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.plait-board-container.theme-colorful .board-host-svg,
.plait-board-container.theme-default .board-host-svg {
  background-color: #fff;
}
.plait-board-container.theme-soft .board-host-svg {
  background-color: #f5f5f5;
}
.plait-board-container.theme-retro .board-host-svg {
  background-color: #f9f8ed;
}
.plait-board-container.theme-dark .board-host-svg {
  background-color: #141414;
}
.plait-board-container.theme-starry .board-host-svg {
  background-color: #0d2537;
}
