.plait-board-container .text foreignObject {
  overflow-y: auto;
  scrollbar-width: none;
}
.plait-board-container .text foreignObject::-webkit-scrollbar {
  display: none;
}
.plait-text-container {
  font-size: 14px;
  min-height: 20px;
  line-height: 20px;
  display: block;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    PingFang SC,
    Noto Sans,
    Noto Sans CJK SC,
    Microsoft Yahei,
    Hiragino Sans GB,
    Arial,
    sans-serif;
}
.slate-editable-container {
  outline: none;
  padding: 0;
  cursor: default;
}
.slate-editable-container [data-slate-node="element"] {
  -webkit-user-select: none;
  user-select: none;
}
.slate-editable-container[contenteditable="true"] {
  cursor: text;
}
.slate-editable-container[contenteditable="true"] [data-slate-node="element"] {
  -webkit-user-select: text;
  user-select: text;
}
